.form-login, .form-register {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.form-login label, .form-register label {
    margin-top: 14px;
    font-weight: 500;
    font-size: 14px;
}

.form-login input, .form-register input {
    border-radius: 5px;
    border: 1px solid var(--darkbrown);
    padding: 10px;
}

.inner-container h3 {
    margin: 20px 0;
}

.a-register {
    color: var(--darkbrown);
    border-bottom: 1px solid var(--darkbrown);
}