@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------------------------------- Global Styles -------------------------------- */

:root {
    --deepbeige: #DABC83;
    --mediumbeige: #E7D3AE;
    --lightbeige: #FAF2E3;
    --darkbrown: #3f3010;
    --orangebrown: #d78503;
    --taupegrey: #A1998A;
    --white: #ffffff;
    --offwhite: #FBF4E6;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--darkbrown);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
}

a, a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

.p-error {
    color: #cb3333;
    font-size: 14px;
}